//- Error component markup
    Author: Branislav Maksin, branislav.maksin@gecko.rs
    Date: 18.6.2018
    Copyright: MIT (c) 2018 Branislav Maksin
    Version: 1.0.0

section(class="callout alert")

    h5 Unexpected error occur
    p Please return back to previous page and try again
    a((click)="goBack()") Go back to previous page
