/**
 * Footer component style
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

footer {
  margin: 2rem auto;
  text-align: center;
}
