/**
 * Header component style
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

:host ::ng-deep svg {
  width: 250px;
  height: 250px;
  margin: -70px 0 -100px;
}
