//- Header component markup
    Author: Branislav Maksin, branislav.maksin@gecko.rs
    Date: 18.6.2018
    Copyright: MIT (c) 2018 Branislav Maksin
    Version: 1.0.0

header(class="callout large primary")
    div(class="row column text-center")
        h1 Front-end Exercise
        h2(class="subheader") F1 world champions
        a(href="/home")
            div([appSvg]="'assets/images/icons/formula-car.svg'")
