/**
 * Main content style
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

main {
    background-color: $white;

    // Main wrapper for content
    .blog-post {
        position: relative;
        min-height: 200px;

        // Angular view
        section {
            position: relative;
            background-color: $white;
            padding: $global-padding;
        }
    }
}
