/**
 * CSS3 loader
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

// Loader
.loader {
    position: relative;

    &:before {
        content: "";
        border: 6px solid #333;
        border-radius: 30px;
        height: 50px;
        left: 50%;
        margin: -15px 0 0 -15px;
        opacity: 0;
        position: absolute;
        top: 50%;
        width: 50px;
        z-index: 0;
        animation: loader 1s infinite ease-out;
    }

    @keyframes loader {
        0% {
            transform: scale(.1);
            opacity: 0.0;
        }
        50% {
            opacity: 1;
        }
        100% {
            transform: scale(1.2);
            opacity: 0;
        }
    }
}
