//- Alert component markup
    Author: Branislav Maksin, branislav.maksin@gecko.rs
    Date: 18.6.2018
    Copyright: MIT (c) 2018 Branislav Maksin
    Version: 1.0.0

section(*ngIf="alerts.length", class="callout alert")

  ul
    li(*ngFor="let item of alerts")
      h5(*ngIf="item.title") {{ item.title }}
      p {{ item.message }}

  button(class="close-button", aria-label="Dismiss alert", type="button", (click)="close()")
    span(aria-hidden="true") &times;
