/**
 * Global style
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

// Main background image
body {
    background: $white url($imagesPath + 'backgrounds/447756.jpg') no-repeat center fixed;
    opacity: 0.85;
}

// Over ride some of the Foundation default styles
.f1-bottom-menu.menu.simple a {
    padding: 0.7rem 1rem;
}

