//- Home component markup
    Author: Branislav Maksin, branislav.maksin@gecko.rs
    Date: 18.6.2018
    Copyright: MIT (c) 2018 Branislav Maksin

section
  h4 Welcome to the Ergast F1 world champions developer API
  p Please select the season year below in order to see the winners of each race and world champion for that year.

  div(class="callout")
    ul(class="menu simple f1-bottom-menu")
      li(*ngFor="let year of [] | range: 2005: 2016")
        a(href="/drivers/{{year}}", class="large button") {{year}}
