/**
 * Home component
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

section {
  text-align: center;
}

.callout {
  padding-bottom: 0;
}

.menu.simple {
  justify-content: center;

  li {
    margin-right: 1rem;
    margin-bottom: 1rem;

    + li {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}
