//- Main application component markup
    Author: Branislav Maksin, branislav.maksin@gecko.rs
    Date: 18.6.2018
    Copyright: MIT (c) 2018 Branislav Maksin
    Version: 1.0.0

app-header
main(class="row medium-8 large-7 columns")
    div(class="blog-post", [ngClass]="{'loader': HTTPActivity}")
        app-alert
        router-outlet
app-footer
