/**
 * Variables
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

// Colors
$base: #4d4d4d !default;
$background: #77bad0 !default;
$white: #fff !default;
$black: #000 !default;
$error: #f00 !default;

// Fonts
$fontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif !default;

// Sizes
$baseFont: 12px !default;
$baseLine: 16px !default;
$radius: 5px !default;

// Default images path
$imagesPath: '/assets/images/' !default;

// Break points
$mobile: 640px !default;
