/**
 * Drivers component
 * Author: Branislav Maksin, branislav.maksin@gecko.rs
 * Date: 18.6.2018
 * Copyright: MIT (c) 2018 Branislav Maksin
 * Version: 1.0.0
 */

@import "../../../style/helpers/include";

.f1-drivers {
  &-world-champion {
    font-weight: bold;
    box-shadow: 0 0 5px $medium-gray;
    border: 1px solid $dark-gray;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }

  ::ng-deep svg {
    width: 25px;
    height: 25px;
  }
}
