//- Drivers component markup
    Author: Branislav Maksin, branislav.maksin@gecko.rs
    Date: 18.6.2018
    Copyright: MIT (c) 2018 Branislav Maksin
    Version: 1.0.0

section(*ngIf="f1YearData.year && f1YearData.data.length", class="f1-drivers")

    h2 Drivers standings for {{ f1YearData.year }}
    p * World champion in season {{ f1YearData.year }} is highlighted

    input(type="search", placeholder="Search by driver name, surname, race or constructor name", [(ngModel)]="search")

    table(class="hover stack")
        thead
            tr
                th Race name
                th Driver name
                th Constructor
                th Laps count
                th Finish time
                th World champion
        tbody

            tr(*ngFor="let value of f1YearData.data | filter: search",
                [ngClass]="{'f1-drivers-world-champion': value.isSeasonChampion}")

                td
                    a(href="{{ value.raceURL }}", target="_blank") {{ value.raceName }}
                td {{ value.driverName }} {{ value.driverSurname }}
                td
                    a(href="{{ value.constructorURL }}", target="_blank") {{ value.constructorName }}
                td {{ value.lapsCount }}
                td {{ value.finishTime }}
                td
                    div(*ngIf="value.isSeasonChampion", [appSvg]="'assets/images/icons/finish-flag.svg'")

    div(class="callout")
        ul(class="menu simple f1-bottom-menu")
            li
                a(href="home", class="large button") Home
